.labelVertical {
    flex-flow: column;
    span {
        display: block;
    }
    
    input:not([type='checkbox']), textarea {
        text-align: inherit;
        display: block;
        width: 100%;
        height: 50px;
    }
    
    input[type='checkbox'] {
        width: 30px;
        height: 30px;
    }
}