<section id='ftrNewsletter' class='textAlignCenter'>
    {% include 'partials/newsletter.twig' with {
        'newsletterTitle': '',
        'newsletterSubtitle': '',
        'newsletterDescription': '',
        'location': 'ftr',
        'formAction': ''
    }%}
</section>

<section id='ftrContact' class='textAlignCenter'>
    <h4 id='ftrContactTitle'></h4>
    <ul id='ftrContactList' class='fontBold'>
        <li>Email: <a href=''></a></li>
        <li>Phone: <a href=''></a></li>
    </ul>
    {% include 'partials/emailForm.twig' with {'location': 'ftr'}%}
</section>

<section id='ftrLinks'>
    <ul id='ftrLinksList' class='flexCenterCenter textAlignCenter fontBold'>
        <li><a href=''></a>Privacy Policy</li>
        <li>&bull;</li>
        <li><a href=''></a></li>
        <li>&bull;</li>
        <li><a id='ftrSitemap'>Sitemap</a></li>
    </ul>
</section>

<section id='ftrCopyright'>
    <p class='textAlignCenter'>Copyright &#169; {{'now'|date('Y')}} </p>
    <p class='textAlignCenter'>Powered by theme created by <a class='fontBold'>Kamil Brodziak</a></p>
</section>