<h1 id='hdrLogo'>
    <a id='hdrLogoLink' class='colorSilver flexCenterCenter textAlignCenter' href='{{site.url}}' rel='home'>{{site.name}}</a>
</h1>
<section id='hdrNewsletter' class='flexCenterCenter'>
    {% include 'partials/newsletter.twig' with
        {'newsletterTitle': '',
         'location': 'hdr',
         'formAction': ''} %}
</section>
<div id='hdrNavbarMobileButton'>
    <div id='hdrNavbarMobileBar1' class='hdrNavbarMobileBars'></div>
    <div id='hdrNavbarMobileBar2' class='hdrNavbarMobileBars'></div>
    <div id='hdrNavbarMobileBar3' class='hdrNavbarMobileBars'></div>
</div>
<nav id='hdrNavbar'>
    {% include 'partials/menu.twig' with {'items': menu.get_items, 'menuLocation': 'hdr', 'navItemAnimation': ''} %}
</nav>