.textCenter {
    text-align: center;
}

.flexCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.transitionEase {
    transition: all 0.3s ease;
}

.listStyleNone {
    list-style: none;
}