<section class="siteFtrContact">
    <h4 id='siteFtrContactTitle'></h4>
    <ul id='siteFtrContactList' class='fontBold'>
        <li>Email: <a href=''></a></li>
        <li>Phone: <a href=''></a></li>
    </ul>
    {% include 'partials/footer/partials/contactForm.twig' %}
</section>