<form id='siteNavSearch' role='search' class="" method="get" action="{{fn("home_url", '/')}}">
    <label id="siteNavSearchFieldLabel" class="">
        <input type="text" id="{{ navID }}SearchField" class="" name="s"
               placeholder="Szukaj..." value="{{ fn('the_search_query') }}">
    </label>
    <div id="siteNavSearchResults" class="hide"></div>
    <div id='siteNavSearchSubmitContainer'>
        <button id='siteNavSearchSubmit' class="" type="submit">Szukaj</button>
    </div>
</form>