<nav id="siteNav">
    <div id="siteNavElementsContainer">
        <div id="siteNavButtonsContainer">
            {% include 'partials/components/buttons/menuButton.twig' with {'id': 'siteNavExpandButton'} %}
        </div>
        {% include 'partials/nav/partials/list.twig' with {'menu': menu} %}
    </div>
</nav>