<nav id="{{ navID }}">
    <div id="{{ navID }}ElementsContainer">
        <div id="{{ navID }}ButtonsContainer">
            {% include 'partials/nav/partials/menuButton.twig' %}
        </div>
        {% include 'partials/nav/partials/list.twig' with {'menu': menu} %}
    </div>
</nav>