<nav id="{{ navID }}">
    <div id="{{ navID }}ElementsContainer">
        <div id="{{ navID }}ButtonsContainer">
            {% include 'partials/menuButton.twig' %}
        </div>
        {% include 'partials/list.twig' %}
    </div>
</nav>