    {% block html_head_container %}
        {% include 'partials/html-header.twig' %}
            {% block head %}
            {% endblock %}
            </head>
        {% endblock %}
	<body class='{{body_class}} test' data-template='base.twig'>
        <div id='siteContainer'>
            {% include 'partials/header/header.twig' %}
            {% include 'partials/nav/nav.twig' %}
            <section id="siteContent">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </section>
            {% include 'partials/footer/footer.twig' %}
            {{ function('wp_footer') }}
        </div>
	</body>
</html>
