<section id="siteHeaderNewsletter">
    {% include 'partials/components/forms/form.twig' with {
        'form': {
            'action': 'action',

            'inputs': [
                {
                    'tag': 'input',
                    'type': 'email',
                    'name': 'email',
                    'required': 'required',
                    'placeholder': 'example@example.com',
                    'labelText': 'Your email',
                    'pattern': '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$',
                    'title': 'Insert proper email, example: example@example.com',
                    'label': {
                        'class': 'labelVertical flexCentered textCenter'
                    },
                },
                {
                    'tag': 'input',
                    'type': 'text',
                    'name': 'name',
                    'required': 'required',
                    'placeholder': 'Kamil',
                    'labelText': 'Your name',
                    'label': {
                        'class': 'labelVertical flexCentered textCenter'
                    },
                },
                {
                    'tag': 'input',
                    'type': 'checkbox',
                    'name': 'privacy_accept',
                    'required': 'required',
                    'labelText': 'I accept your offer',
                    'label': {
                        'class': 'labelHorizontal flexCentered textCenter'
                    },
                },
                {
                    'tag': 'textarea',
                    'required': 'required',
                    'name': 'message',
                    'required': 'required',
                    'labelText': 'Your message',
                    'label': {
                        'class': 'labelVertical flexCentered textCenter'
                    },
                    'placeholder': 'I like you!'
                }

            ],
            'button': {
                'class': 'kbButton',
                'text': 'Submit'
            }
        }
    } %}
</section>

